/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #0f172a;
    line-height: 1.6;
}

/* Header & Nav */
header {
    background: #fff;
    border-bottom: 1px solid #f1f5f9;
}

nav {
    max-width: 1320px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-middle .list {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-middle .list a {
    text-decoration: none;
    color: #475569;
    font-weight: 500;
    font-size: 15px;
}

.btn-primary-small {
    background-color: #30B868;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* Hero Section */
.hero {
    max-width: 1320px;
    margin: 0 auto;
    background:  url('img/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.badge {
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 6px 16px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #22cf61;
    font-size: 14px;
    margin-bottom: 25px;
}

.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.highlight {
    color: #30B868;
}

.subtitle {
    max-width: 700px;
    margin: 0 auto 40px;
    color: #cbd5e1;
    font-size: 18px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    padding: 14px 28px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    border: none;
}

.btn-green {
    background-color: #30B868;
    color: white;
}

.btn-outline {
    border: 2px solid rgba(255,255,255,0.3);
    color: white;
}

/* Learning Cards */
.learning-section {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;
    text-align: center;
}

.learning-hero h2 {
    font-size: 42px;
    color: #001931;
    margin-bottom: 15px;
}

.learning-hero p {
    color: #627382;
    margin-bottom: 60px;
}

.learning-cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.card {
    flex: 1;
    padding: 40px 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    text-align: left;
    background: #fff;
}

.icon-box img {
    width: 45px;
    height: 45px;
    background: #ed5050;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.card p {
    color: #627382;
    font-size: 14px;
}

/* Solution Section */
.solution-section {
    background: #fff;
    padding: 100px 0;
}

.solution-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0 20px;
}

.solution-img img {
    height: 500px;
    width: 500px;
}

.solution-content .label {
    color: #30B868;
    font-weight: 700;
    letter-spacing: 1px;
}

.solution-content h2 {
    font-size: 44px;
    margin: 15px 0 25px;
    line-height: 1.2;
}

.check-list {
    list-style: none;
    margin-top: 30px;
}

.check-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    font-weight: 500;
}

.check-list i {
    color: #30B868;
}

/* CTA Banner */
.cta-banner {
    padding: 80px 20px;
}

.cta-card {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f8fafc;
    padding: 80px;
    text-align: center;
    border-radius: 20px;
}

.cta-card h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.cta-card p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #627382;
}

.small-text {
    margin-top: 20px !important;
    font-size: 13px !important;
}

/* Footer */
.footer {
    max-width: 1320px;
    margin: 0 auto;
    background-color: #001931;
    color: white;
    padding: 80px 0 40px;
}

.footer-top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.social-section span {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a i{
     color: white;
    font-size: 20px;

}
   

.footer-bottom {
    text-align: center;
    padding-top: 40px;
    color: #94a3b8;
    font-size: 14px;
}